<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Campton-Black.ttf</string>
		<string>Campton-BlackItalic.ttf</string>
		<string>Campton-Bold.ttf</string>
		<string>Campton-BoldItalic.ttf</string>
		<string>Campton-Book.ttf</string>
		<string>Campton-BookItalic.ttf</string>
		<string>Campton-ExtraBold.ttf</string>
		<string>Campton-ExtraBoldItalic.ttf</string>
		<string>Campton-ExtraLight.ttf</string>
		<string>Campton-ExtraLightItalic.ttf</string>
		<string>Campton-Light.ttf</string>
		<string>Campton-LightItalic.ttf</string>
		<string>Campton-Medium.ttf</string>
		<string>Campton-MediumItalic.ttf</string>
		<string>Campton-SemiBold.ttf</string>
		<string>Campton-SemiBoldItalic.ttf</string>
		<string>Campton-Thin.ttf</string>
		<string>Campton-ThinItalic.ttf</string>
		<string>KittenSlantTrial.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb980312175433785</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>980312175433785</string>
	<key>FacebookDisplayName</key>
	<string>hoop - smallTest</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>hoopNetworkConfig</key>
	<dict>
		<key>baseUrl - prod</key>
		<string>p.ohmyhoop.com</string>
		<key>baseUrl</key>
		<string>rec-pr.vnz.fr</string>
	</dict>
</dict>
</plist>
